footer {
	padding-top: 40px;
	padding-bottom: 40px;
	margin-top: 100px;
	color: #777;
	text-align: center;
	border-top: 1px solid #e5e5e5;
}

.app-header {
	margin-bottom: 40px;
	font-size: 20px;
	position: relative;
	padding: 30px 15px;
}

.app-header h1 {
	font-size: 50px;
	line-height: 1;
	margin: 0 auto 60px 0;
	text-align: center;
}

@media (min-width: 768px) {
	.app-header {
		padding-top: 20px;
		padding-bottom: 20px;
		font-size: 24px;
		text-align: left;
	}
}

/* Container*/
.app-container {
	margin: 20px auto;
}

.app-container.bg-warning {
	border-left: 3px solid #aa6708;
}

.app-container.bg-info {
	border-left: 3px solid #2e6da4;
}

.app-container.bg-success {
	border-left: 3px solid #3c763d;
}

.app-container.bg-warning h3 {
	color: #aa6708;
}

.app-container.bg-info h3 {
	color: #2e6da4;
}

.app-container.bg-success h3 {
	color: #3c763d;
}

.app-container .info-block {
	max-height: 500px;
	overflow-y: auto;
	padding: 15px;
}

/*Image thumbnail*/
.img-item {
	float: left;
  display: block;
  width: 80px;
  height: 80px;
  margin: 5px;
	background-color: #fcf8e3;
}

.img-item:hover {
	text-decoration: none;
	color: white;
	border-color: #aa6708;
}

.img-item .progress {
	height: 100%;
	margin: 0;
}

.img-item .progress-bar {
	color: white;
	line-height: 70px;
	text-align: center;
	font-size: 1em;
}
